%nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container
    = link_to "FinanceTracker", root_path, class: "navbar-brand js-scroll-trigger"
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", type: "button"}
      Menu
      %i.fa.fa-bars

    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          = link_to "about", pages_about_path, class: "nav-link js-scroll-trigger"
        %li.nav-item
          = link_to "contact", pages_contact_path, class: "nav-link js-scroll-trigger"
        %li.nav-item
          = link_to "projects", pages_projects_path, class: "nav-link js-scroll-trigger"
