%section#about.about-section.text-center
  .container
    .row
      .col-lg-8.mx-auto
        %h2.text-white.mb-4= t("welcome")
        %p.text-white-50
          = link_to "logout", destroy_user_session_path, class: "btn btn-primary", method: :delete
    %img.img-fluid{alt: "", src: "ipad.png"}/
