%section#about.about-section.text-center
  .container
    .row
      .col-lg-8.mx-auto
        %h2.text-white.mb-4 Built with Bootstrap 4
        %p.text-white-50
          Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
          = succeed "." do
            %a{href: "http://startbootstrap.com/template-overviews/grayscale/"} the preview page
    = image_tag "ipad.png", class: "img-fluid"
