%section#contact.contact-section.bg-black
  .container
    .row
      .col-md-4.mb-3.mb-md-0
        .card.py-4.h-100
          .card-body.text-center
            %i.fa.fa-map-marked-alt.text-primary.mb-2
            %h4.text-uppercase.m-0 Address
            %hr.my-4/
            .small.text-black-50 4923 Market Street, Orlando FL
      .col-md-4.mb-3.mb-md-0
        .card.py-4.h-100
          .card-body.text-center
            %i.fa.fa-envelope.text-primary.mb-2
            %h4.text-uppercase.m-0 Email
            %hr.my-4/
            .small.text-black-50
              %a{href: "#"} hello@yourdomain.com
      .col-md-4.mb-3.mb-md-0
        .card.py-4.h-100
          .card-body.text-center
            %i.fa.fa-mobile-alt.text-primary.mb-2
            %h4.text-uppercase.m-0 Phone
            %hr.my-4/
            .small.text-black-50 +1 (555) 902-8832
    .social.d-flex.justify-content-center
      %a.mx-2{href: "#"}
        %i.fa.fa-twitter
      %a.mx-2{href: "#"}
        %i.fa.fa-facebook-f
      %a.mx-2{href: "#"}
        %i.fa.fa-github
